.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

html,
body {
  font-family: "Gloria Hallelujah";
  background-color: #acbea3;
}

.mode {
  background-color: #1e1e1e;
  color: white;
}

.off-screen-menu {
  height: 25vh;
  width: 100%;
  max-width: 200px;
  position: fixed;
  top: 0;
  right: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  transition: 0.3s ease;
}

.off-screen-menu.active {
  right: 0;
}

nav {
  padding: 5px;
  display: flex;
}

.ham-menu {
  height: 30px;
  width: 30px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #4a4063;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.how-to {
  background-color: #998fc7;
  border: 3px solid black;
  border-radius: 10px;
  font-family: "Gloria Hallelujah";
  cursor: pointer;
}

#instructionsPage {
  position: absolute;
  width: 520px;
  height: 670px;
  left: calc(50% - 550px / 2 - 0.5px);
  top: calc(50% - 600px / 2 + 0.5px);
  background: #4a4063;
  border: 5px solid #000000;
  border-radius: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.instructions {
  color: white;
  font-size: 20px;
}

.show {
  visibility: hidden;
}

.exit {
  position: absolute;
  top: 5px;
  left: 455px;
  float: right;
  background-color: #998fc7;
  border: 3px solid black;
  border-radius: 10px;
  font-family: "Gloria Hallelujah";
  cursor: pointer;
}

#dark {
  background-color: #998fc7;
  border: 3px solid black;
  border-radius: 10px;
  font-family: "Gloria Hallelujah";
  cursor: pointer;
}

.message {
  text-align: center;
}

.game-area {
  box-sizing: border-box;
  position: absolute;
  width: 550px;
  height: 700px;
  left: calc(50% - 550px / 2 - 0.5px);
  top: calc(50% - 600px / 2 + 0.5px);
  background: #4a4063;
  border: 5px solid #000000;
  border-radius: 50px;
}
.secret-code {
  /* visibility: hidden; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 10px;
}
#secret1,
#secret2,
#secret3,
#secret4 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #998fc7;
  border: 3px solid black;
}
.check {
  font-family: "Gloria Hallelujah";
  position: absolute;
  left: 445px;
  top: 625px;
  width: 90px;
  background-color: #998fc7;
  border: 3px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.guesses {
  box-sizing: border-box;
  display: grid;
  width: auto;
  height: auto;
  position: relative;
  left: 20px;
  cursor: pointer;
}
.turn1 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 10px;
}
.turn2 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 20px;
}
.turn3 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 30px;
}
.turn4 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 40px;
}
.turn5 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 50px;
}
.turn6 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 60px;
}
.turn7 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 70px;
}
.turn8 {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
  top: 80px;
}
#guess1,
#guess2,
#guess3,
#guess4,
#guess5,
#guess6,
#guess7,
#guess8,
#guess9,
#guess10,
#guess11,
#guess12,
#guess13,
#guess14,
#guess15,
#guess16,
#guess17,
#guess18,
#guess19,
#guess20,
#guess21,
#guess22,
#guess23,
#guess24,
#guess25,
#guess26,
#guess27,
#guess28,
#guess29,
#guess30,
#guess31,
#guess32 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #998fc7;
  border: 2px solid black;
}
.feedback {
  box-sizing: border-box;
  display: grid;
  position: relative;
  left: 340px;
  top: -490px;
}
.first-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 0px;
}
.second-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 40px;
}
.third-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 80px;
}
.fourth-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 120px;
}
.fifth-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 160px;
}
.sixth-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 200px;
}
.seventh-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 240px;
}
.eighth-hint {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
  top: 280px;
}
#hint1,
#hint2,
#hint3,
#hint4,
#hint5,
#hint6,
#hint7,
#hint8,
#hint9,
#hint10,
#hint11,
#hint12,
#hint13,
#hint14,
#hint15,
#hint16,
#hint17,
#hint18,
#hint19,
#hint20,
#hint21,
#hint22,
#hint23,
#hint24,
#hint25,
#hint26,
#hint27,
#hint28,
#hint29,
#hint30,
#hint31,
#hint32 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #998fc7;
  border: 2px solid black;
}

.colour-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 80%;
  height: 70px;
  top: 610px;
  left: 5px;
  background-color: #4a4063;
  border: 5px solid black;
  border-radius: 50px;
}
.colour {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #4a4063;
  cursor: pointer;
}
.colour :hover {
  transform: scale(1.1);
}
#green {
  background-color: green;
  border: 3px solid black;
}
#white {
  background-color: white;
  border: 3px solid black;
}
#orange {
  background-color: orange;
  border: 3px solid black;
}
#blue {
  background-color: blue;
  border: 3px solid black;
}
#pink {
  background-color: pink;
  border: 3px solid black;
}
#brown {
  background-color: indigo;
  border: 3px solid black;
}
#red {
  background-color: red;
  border: 3px solid black;
}
#yellow {
  background-color: yellow;
  border: 3px solid black;
}
#grey {
  background-color: darkgrey;
  border: 3px solid black;
}
